.btn {
  background-color: #48B536;
  color: #fff;
  border-radius: 5px;
  border-color: #48B536;
  box-shadow: 0px 0px 0px 0px;
}

.log-in {
  background-color: #4469AF;
  border-color: 1px solid black;
}
