#plato {
  border: 5px solid white;
  width: 100%;
}

.top-pic {
  width: 100%;
  height: 350px;
  background-image: url(../img/top-pic.jpg);
}

#plato-two {
  width: 10%;
}

.img-republic {
  width: 100%;
}
