html, body {
  height: 100%;
}


body {
  // background-color: #E9EBEE;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include background(linear-gradient(darkorange,black) left repeat);
// @include background(linear-gradient(red, green) left repeat, radial-gradient(red, orange));
// @include background(url("/images/a.png"), linear-gradient(red, green), center no-repeat orange scroll);

}

.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
}


.content {
  width: 1050px;
  min-width: 1000px;
  height: 100%;
}

.big-pic {
  border: 1px solid #000;
  width: 100%;
  height: 200px;
}

.column-right-side1 {
  margin-left: 0;
  @extend .white-padding;
}


p {
  text-align: justify;
}

.plato p {
  margin: 0px;
  padding: 0px;
}

.plato p:nth-child(3) {
  color: #90949B;
}

.republic {
  @extend .lightgrey-border;
  padding: 10px;
}

.republic p:nth-child(2) {
  display: inline;
}

.author {
  @extend .white-border;
  font-size: 16px;
}

.community {
  @extend .white-border;
}

.about {
  @extend .white-border;
}

.people {
  @extend .white-border;
}

.photos-misc {
  @extend .white-border;
}

.split-header {
  display: flex;
  justify-content: space-between;
}

.split-header p:nth-child(2) {
  color: blue;
}
